<footer class="footer_psychic">
    <a class="subscribe_psychic icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_psychic">Subscribe!</span></a>
    <div class="footertext_psychic">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
    <div class="footertext_psychic">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>